*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Handlee", cursive;
}

/* font-family: 'Caveat Brush', cursive;
font-family: 'Handlee', cursive;
font-family: 'Indie Flower', cursive; */

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Drawer */
.mantine-oke7r5 {
  background-color: #f0f8ff;
}
